@keyframes moveUp {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveRight {
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 300px) {
  .second{
    background-color: #141416;
    &__main-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &__first-container{
      width: 100%;
      background-image: url("../../../assets/homepage-second.avif");
      background-size: 100%;
      background-position: center;
    }
    &__heading-container{
      width: 100%;
      padding: 40px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    &__heading{
      color: white;
      font-family: poppins;
      font-weight: 400;
      text-align: center;
      font-size: 20px;
      width: 300px;

      //animation styles
      transform: translateY(150%);
      opacity: 0;
    }
    &__paragraph{
      color: #8a8a8a;
      font-size: 14px;
      text-align: center;
      line-height: 28px;
      width: 255px;

      //animation styles
      transform: translateY(50%);
      opacity: 0;
    }

    &__second-container{

    }
    &__cards-container{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 25px;
      padding: 0 20px;
    }
    &__card{
      background-color: #1B1C1E;
      width: 280px;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      padding-bottom: 30px;

      //animation styles
      transform: translateY(50%);
      opacity: 0;
    }
    &__card-upper-side{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 30px 50px 20px;
    }
    &__card-image{
      width: 60px;
    }
    &__card-heading{
      font-family: poppins;
      font-weight: 600;
      font-size: 17px;
      text-align: center;
      color: #889ce7;
    }
    &__card-lower-side{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 25px 0;
      padding-bottom: 40px;
      border-bottom: 4px solid #3F4349;
    }
    &__card-paragraph{
      color:#8a8a8a;
      text-align: center;
    }






    &__move-up-animation{
      animation-name: moveUp;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease;
    }
  }
}


@media screen and (min-width: 768px) {
  .second{
    &__heading{
      font-size: 28px;
    }
    &__paragraph{
      font-size: 16px;
      width: 300px;
    }

    &__cards-container{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__card{
      width: 320px;
    }
    &__card-upper-side{
      padding: 30px 60px 20px;
    }
  }
}


@media screen and (min-width: 1024px) {
  .second{
    padding: 0 70px 0;
    position: relative;
    &__main-container{
      background-color: #141416;
      flex-direction: row;
      border: 1px solid #3F4349;
      transform: translateY(-100px);
    }
    &__first-container{
      border-right: 1px solid #3F4349;
      flex: 2;
    }
    &__heading-container{
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    &__heading{
      font-size: 30px;
      text-align: start;
    }
    &__paragraph{
      text-align: start;
      width: 285px;
    }

    &__second-container{
      flex: 3;
      position: relative;
    }
    &__card{
      width: 240px;
      position: relative;
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
      overflow: hidden;
      &--first{
        left: -40px;
        top: -110px;
      }
      &--second{
        left: -305px;
        top: 275px;
      }
      &--third{
        left: 220px;
        top: -305px;
      }
      &--fourth{
        left: -45px;
        top: 80px;
      }
    }
    &__card-upper-side{
      padding: 30px 30px 20px;
      align-items: start;
      gap: 50px;
    }
    &__card-image{
      width: 50px;
      height: 50px;
      object-fit: contain;

      //animation styles

    }
    &__card-heading{
      font-size: 18px;
      text-align: start;
    }
    &__card-paragraph{
      text-align: start;
      font-size: 14px;
      line-height: 22px;
    }




    &__move-right-animation{
      animation-name: moveRight;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease;
      opacity: 0.2;
      transform: translateX(-200%);
    }


  }
}