@keyframes moveUp {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveRight {
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes strip {
  to{
    transform: scaleX(1);
  }
}



@media screen and (min-width: 300px) {
  .stats{
    padding: 50px 0 0;
    color: white;
    &__heading{
      text-align: center;
      font-family: poppins;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    &__heading-span{
      display: block;
    }

    &__upper-container{
      padding: 10px 30px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
    &__card{
      display: flex;
      flex-direction: column;
      align-items: center;
      &--last{
        grid-column: 1 / span 2;
      }
    }
    &__number{
      font-family: poppins;
      font-weight: 400;
      color: var(--secondary-color);
      font-size: 49px;
    }
    &__paragraph{
      text-align: center;
      color: #8a8a8a;
      font-size: 15px;
      width: 78%;
      margin-bottom: 25px;
    }
    &__strip{
      width: 100%;
      height: 4px;
      background-color: #3F4349;
      border-radius: 10px;
    }
    
    &__lower-container{
      height: 60svh;
      background-image: url("../../../assets/homepage-fourth.avif");
      background-size: 600%;
      background-position: 50% 55%;
    }
  }


}

@media screen and (min-width: 410px) {
  .stats{
    &__paragraph{
      width: 52%;
    }
    &__lower-container{
      background-position: 50% 52%;
    }
  }
}

@media screen and (min-width: 570px) {
  .stats{
    &__heading{
      font-size: 25px;
    }
    &__upper-container{
      gap: 40px 30px;
    }
    &__paragraph{
      width: 70%;
    }
    &__lower-container{
      background-size: 500%;
      background-position: center;
    }
  }
}


@media screen and (min-width: 768px) {
  .stats{
    &__heading{
      font-size: 30px;
    }
    &__upper-container{
      grid-template-columns: repeat(6, 1fr);
      gap: 40px 30px;
    }
    &__card{
      &--first{
        grid-column: 1 / 3;
      }
      &--second{
        grid-column: 3 / 5;
      }
      &--third{
        grid-column: 5 / 7;
      }
      &--fourth{
        grid-column: 1 / 4;
      }
      &--last{
        grid-column: 4 / 7;
      }
    }
    &__lower-container{
      height: 60svh;
      background-image: url("../../../assets/homepage-fourth.avif");
      background-size: 120%;
      background-position: 50% 53%;
    }
  }
}



@media screen and (min-width: 1024px) {
  .stats{
    padding: 70px 0 0;
    &__heading{
      font-weight: 500;
      margin-bottom: 40px;
      transform: translateY(100%);
      opacity: 0;
    }
    &__heading-span{
      display: unset;
    }
    &__upper-container{
      padding: 0 200px 0;
      margin-inline: auto;
      grid-template-columns: repeat(5, 1fr);
    }
    &__card{
      transform: translateX(-50%);
      
      &--first{
        grid-column: unset;
      }
      &--second{
        grid-column: unset;
      }
      &--third{
        grid-column: unset;
      }
      &--fourth{
        grid-column: unset;
      }
      &--last{
        grid-column: unset;
      }
    }
    &__number{
      font-size: 60px;
      transform: translateX(-40%);
      opacity: 0;
      &--first{
        animation-delay: .2s;
      }
      &--second{
        animation-delay: .5s;
      }
      &--third{
        animation-delay: .8s;
      }
      &--fourth{
        transform: translateX(-80%);
        animation-delay: 1.1s;
      }
      &--last{
        transform: translateX(-100%);
        animation-delay: 1.4s;
      }
    }
    &__paragraph{
      width: 100%;
      font-size: 14px;
      transform: translateX(-30%);
      opacity: 0;
      &--first{
        animation-delay: .3s;
      }
      &--second{
        animation-delay: .6s;
      }
      &--third{
        animation-delay: .9s;
      }
      &--fourth{
        animation-delay: 1.2s;
      }
      &--last{
        animation-delay: 1.5s;
      }
    }
    &__strip{
      width: 80%;
      transform: scaleX(0);
      transform-origin: left;
      &--first{
        animation-delay: .4s;
      }
      &--second{
        animation-delay: .7s;
      }
      &--third{
        animation-delay: 1.0s;
      }
      &--fourth{
        animation-delay: 1.3s;
      }
      &--last{
        animation-delay: 1.6s;
      }
    }




    &__move-up-animation{
      animation-name: moveUp;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }
    &__move-right-animation{
      animation-name: moveRight;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }
    &__strip-animation{
      animation-name: strip;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }
  }
}