
@media screen and (min-width: 300px) {
  .header{
    background-color: var(--main-color);
    height: 15svh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 10px 0 20px;
    &__desktop-nav{
      display: none;
    }
    &__logo-container{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      height: 100%;
      cursor: pointer;
    }
    &__logo-image{
      width: 32px;
      object-fit: contain;
    }
    &__logo-name{
      font-family: barlow;
      font-size: 22px;
      font-weight: 500;
    }
    &__right-container{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    &__start-button{
      background-color: var(--main-color);
      color: white;
      border: 1px solid white;
      font-size: 14px;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      transition: .3s;
      &:hover{
        background-color: #889CE7;
        color: black;
        border: 1px solid #889CE7;
        transition: .3s;
      }
    }
    &__bars{
      font-size: 24px;
    }

    //mobile-menu
    &__mobile-menu{
      position: fixed;
      right: 0;
      top: 0;
      z-index: -10;
      background-color: var(--main-color);
      width: 100%;
      height: 100dvh;
      overflow-y: auto;
      transform: translateY(-20%);
      opacity: 0;
      transition: .4s;
      &--active{
        z-index: 1000;
        transform: translateY(0);
        opacity: 1;
        transition: .4s ease-in-out;
      }
    }
    &__xmark{
      position: absolute;
      right: 12px;
      top: 35px;
      cursor: pointer;
      font-size: 24px;
    }
    &__login-container{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 70px auto 0;
      width: 100px;
      cursor: pointer;
      &:hover .header__login-text{
        opacity: 0.8;
      }
      &--desktop{
        display: none;
      }
    }
    &__user-icon{
      color: var(--secondary-color);
      font-size: 20px;
    }
    &__login-text{
      color: var(--secondary-color);
    }
    &__mobile-nav{
      width: 100%;
    }
    &__mobile-ul{
      width: 100%;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      list-style: none;
    }
    &__mobile-li{
      font-size: 30px;
      cursor: pointer;
    }
    &__mobile-link{
      text-decoration: none;
      color: white;
      &--active{
        color: var(--secondary-color);
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .header{
    padding: 0 20px 0 30px;
    &__right-container{
      gap: 15px;
    }
    &__bars{
      display: none;
    }
    &__login-container{
      margin: 0;
      gap: 10px;
      width: unset;
      &--desktop{
        display: flex;
      }
    }
    &__start-button{
      padding: 12px 20px;
    }
    &__desktop-nav{
      height: 100%;
      display: unset;
    }
    &__desktop-ul{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      margin-right: 10px;
    }
    &__desktop-li{
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: .3s;
      &:hover{
        color: var(--secondary-color);
        transition: .3s;
      }
    }
    &__mobile-menu{
      display: none !important;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header{
    height: 100px;
    padding: 0 60px 0 70px;
    &__logo-name{
      font-size: 24px;
    }
    &__right-container{
      gap: 20px;
    }
    &__desktop-ul{
      gap: 30px;
      margin-right: 20px;
    }
    &__desktop-link{
      &--active{
        color: var(--secondary-color)
      }
    }
  }
}

