
@media screen and (min-width: 300px) {
  .footer{
    padding: 20px 20px 20px;
    background-color: var(--main-color);
    color: white;
    &__grid-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 3fr 3fr 2fr;
      align-items: center;
      gap: 10px;
    }
    &__grid-child{
      &--last{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__logo-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-bottom: 22px;
      cursor: pointer;
    }
    &__logo-image{
      width: 30px;
    }
    &__logo-name{
      font-family: Barlow;
      font-size: 22px;
      font-weight: 500;
    }
    &__address-ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      list-style: none;
    }
    &__address-li{
      color: #8a8a8a;
      font-size: 14px;
    }
    &__nav{
      width: 100%;
    }
    &__navigation-ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      list-style: none;
    }
    &__navigation-li{
      color:#8a8a8a;
      font-size: 18px;
      cursor: pointer;
    }
    &__start-button{
      background-color: var(--secondary-color);
      font-size: 14px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      padding: 12px 24px;
    }
    &__form{
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      color:#8a8a8a;
    }
    &__form-heading{
      font-size: 18px;
      text-align: center;
    }
    &__input-container{
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-self: flex-start;
      width: 100%;
    }
    &__label{
      font-size: 14px;
    }
    &__input{
      background-color: transparent;
      outline: none;
      border: 1px solid #8a8a8a;
      border-radius: 5px;
      font-size: 14px;
      padding: 10px 10px;
      color: #8a8a8a;
    }
    &__checkbox-container{
      display: flex;
      align-self: flex-start;
      align-items: center;
      gap: 10px;
    }
    &__label{
      cursor: pointer;
    }
    &__checkbox{
      appearance: none;
      -webkit-appearance: none;
      height: 18px;
      width: 18px;
      background-color: #141416;
      border: 1px solid #8a8a8a;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after{
        font-family: "Font Awesome 7 Free";
        content: "\f00c";
        font-weight: 900;
        color: white;
        display: none;
        font-size: 12px;
      }
      &:checked:after{
        display: unset;
      }
    }
    &__submit-button{
      width: 100%;
      background-color: transparent;
      border: 1px solid #8a8a8a;
      color:#8a8a8a;
      font-size: 16px;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      transition: .3s;
      &:hover{
        background-color: #889CE7;
        border: 1px solid #889CE7;
        color: black;
        transition: .3s;
      }
    }
    &__links-outer-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      margin-bottom: 20px;
    }
    &__follow-text{
      color:#8a8a8a;
      font-size: 18px;
    }
    &__links-inner-container{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
    &__link{
      text-decoration: none;
      color: var(--main-color);
      background-color: #8a8a8a;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    &__link-icon{
      font-size: 14px;
    }
    &__last-div{
      width: 200px;
      text-align: center;
    }
    &__last-text{
      color:#8a8a8a;
      font-size: 14px;
      line-height: 20px;
    }
    &__last-link{
      color:#8a8a8a;
    }
  }
}



@media screen and (min-width: 768px) {
  .footer{
    
    &__grid-container{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 3fr 3fr 4fr;
      gap: 10px;
    }
    &__grid-child{
      &--first{
        grid-row: 1 / 2;
        grid-column: 1 / 3;
      }
      &--second{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
      }
      &--third{
        grid-row: 3 / span 1;
        grid-column: 1 / 2;
        justify-self: center;
      }
      &--last{
        grid-row: 3 / span 1;
        grid-column: 2 / 3;
      }
    }
  }
}



@media screen and (min-width: 1024px) {
  .footer{
    padding: 100px 30px 120px;
    &__grid-container{
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      align-items: flex-start;
    }
    &__grid-child{
      &--first{
        grid-row: unset;
        grid-column: unset;
      }
      &--second{
        grid-row: unset;
        grid-column: unset;
      }
      &--third{
        grid-row: unset;
        grid-column: unset;
        justify-self: unset;
      }
      &--last{
        grid-row: unset;
        grid-column: unset;
        align-self: stretch;
      }
    }
    &__logo-container{
      flex-direction: row;
    }
    &__logo-name{
      font-size: 24px;
    }
    &__address-ul{
      align-items: flex-start;
    }
    &__address-li{
      font-size: 18px;
    }
    &__navigation-ul{
      align-items: flex-start;
    }
    &__start-button{
      font-size: 16px;
      padding: 15px 20px;
      border: 1px solid var(--secondary-color);
      transition: .4s;
      &:hover{
        color: white;
        border: 1px solid white;
        background-color: transparent;
        transition: .4s;
      }
    }
    &__form{
      align-items: flex-start;
      gap: 25px;
    }
    &__submit-button{
      width: 130px;
      align-self: flex-start;
    }
    &__last-div{
      width: 140px;
      text-align: start;
    }
    &__last-text{
      color:#8a8a8a;
      font-size: 14px;
      line-height: 20px;
    }
  }
}